<div class="w-100 position-fixed top-0 bg-dark-subtle shadow-sm" style="z-index:2;">
    <nav>
        <div class="container-fluid">
            <div class="row justify-content-between" style="height:70px;">
                <div class="col-6 d-flex align-items-center justify-content-start">
                    <img src="../style/asset/image/logo.png" style="aspect-ratio:1/1;height:50px;" alt="">
                    <h2 class="text-head m-0 d-none d-md-block">APLIKASI - Seller</h2>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end dropdown">
                    <a class="text-decoration-none text-dark m-0 ms-4 dropdown-toggle" href="#notification" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Notifikasi">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" id="notification" style="width:250px;max-height:300px;">
                        <li class="dropdown-item">
                            <div class="row">
                                <div class="col-2">
                                    <img src="../style/asset/image/icon.jpg" alt="" class="rounded-circle" style="aspect-ratio:1/1;width:35px;">
                                </div>
                                <div class="col-10">
                                    <p class="m-0 p-0 text-smaller text-truncate">
                                        Crazy? I was crazy once. They locked me in a room, a rubber room. A rubber room with rats. Rats make me crazy.
                                    </p>
                                    <p class="m-0 p-0 text-smaller text-monospace">12:34</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item border-top read">
                            <div class="row">
                                <div class="col-2">
                                    <img src="../style/asset/image/icon.jpg" alt="" class="rounded-circle" style="aspect-ratio:1/1;width:35px;">
                                </div>
                                <div class="col-10">
                                    <p class="m-0 p-0 text-smaller text-truncate">
                                        Crazy? I was crazy once. They locked me in a room, a rubber room. A rubber room with rats. Rats make me crazy.
                                    </p>
                                    <p class="m-0 p-0 text-smaller text-monospace">12:34</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item border-top">
                            <div class="row">
                                <div class="col-2">
                                    <img src="../style/asset/image/icon.jpg" alt="" class="rounded-circle" style="aspect-ratio:1/1;width:35px;">
                                </div>
                                <div class="col-10">
                                    <p class="m-0 p-0 text-smaller text-truncate">
                                        Crazy? I was crazy once. They locked me in a room, a rubber room. A rubber room with rats. Rats make me crazy.
                                    </p>
                                    <p class="m-0 p-0 text-smaller text-monospace">12:34</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="text-decoration-none text-dark m-0 ms-4 dropdown-toggle" href="#account" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Akun">
                        <i class="p-2 bg-white rounded-circle fa-solid fa-user"></i>
                        <span class="ms-2"><%= name %></span>
                    </a>
                    <ul class="dropdown-menu" id="account">
                        <li><a class="dropdown-item text-smaller" href="/customer/account">Pengaturan Akun</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-smaller text-danger" href="/login">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>