<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesanan</title>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../style/asset/image/logo.png">
</head>
<body class="d-flex flex-column min-vh-100 bg-secondary-subtle">
    <!-- Navbar -->
    <%- include("../partials/seller-navbar") %>
    <div class="container-fluid" style="margin-top:70px;">
        <div class="row">
            <!-- Sidemenu -->
            <%- include("../partials/seller-sidemenu") %>

            <!-- Main -->
            <div class="col">
                <div class="accordion accordion-custom" id="orders">
                    <a class="accordion-btn" role="button" data-bs-toggle="collapse" href="#order" aria-expanded="true" aria-controls="order">
                        Pesanan masuk
                    </a>
                    <a class="accordion-btn collapsed" role="button" data-bs-toggle="collapse" href="#processing" aria-expanded="false" aria-controls="processing">
                        Pesanan diproses
                    </a>
                    <a class="accordion-btn collapsed" role="button" data-bs-toggle="collapse" href="#sending" aria-expanded="false" aria-controls="sending">
                        Pesanan dikirim
                    </a>
                    <div class="accordion-item">
                        <div id="order" class="accordion-collapse collapse show" data-bs-parent="#orders">
                            <div class="accordion-body">
                                <div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Kode Pesanan</th>
                                            <th>Pembeli</th>
                                            <th>Pengiriman</th>
                                            <th>Barang Pesanan</th>
                                            <th>Pembayaran</th>
                                            <th>Tanggal Pemesanan</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr>
                                            <td>20240304/dj32r8h</td>
                                            <td>
                                                <div class="d-flex">
                                                    <img src="../style/asset/image/icon.jpg" alt="" class="rounded-circle" style="aspect-ratio:1/1;height:25px;">
                                                    <div class="ms-2">
                                                        <a href="" class="text-dark m-0">pembeli<i class="fa-regular fa-circle-question"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>JNE</td>
                                            <td>Tipis-tipis abangku <span class="text-body-tertiary">x5</span></td>
                                            <td>CoD</td>
                                            <td>2024-03-04 23:33:41</td>
                                            <td>
                                                <a href="" class="btn btn-dark">Proses</a>
                                                <a href="" class="btn btn-danger">Batalkan</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="processing" class="accordion-collapse collapse" data-bs-parent="#orders">
                            <div class="accordion-body">
                                <div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Kode Pesanan</th>
                                            <th>Data Pesanan</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr>
                                            <td>20240304/dj32r8h</td>
                                            <td><a href="" class="text-dark m-0">data</a></td>
                                            <td>
                                                <a href="" class="btn btn-dark">Cetak Resi</a>
                                                <a href="" class="btn btn-dark">Kirim</a>
                                                <a href="" class="btn btn-danger">Batalkan</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="sending" class="accordion-collapse collapse" data-bs-parent="#orders">
                            <div class="accordion-body">
                                <div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Kode Pesanan</th>
                                            <th>Data Pesanan</th>
                                            <th>Status</th>
                                        </tr>
                                        <tr>
                                            <td>20240304/dj32r8h</td>
                                            <td><a href="" class="text-dark m-0">data</a></td>
                                            <td><span class="text-warning">Dalam pengiriman</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/_js.ejs") %>
</body>
</html>