<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cari ""</title>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../style/asset/image/logo.png">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <%- include("../partials/navbar", {dir: "<a href='/customer/search' class='nav-link text-dark'>/ Pencarian</a>",}) %>
    <!-- Floating Cart Button -->
    <%- include("../partials/cart-button") %>
    <!-- Sidemenu -->
    

    <!-- Main -->
    <div class="container my-4">
        <div class="row">
            <div class="col-12 col-md-3 d-flex d-md-block border-end">
                <select name="category" id="category" class="form-select position-sticky" style="top:120px;">
                    <option value="" disabled selected>Pilih Kategori</option>
                    <option value="aksesoris">Aksesoris</option>
                    <option value="botani">Botani</option>
                    <option value="elektronik">Elektronik</option>
                </select>
            </div>
            <div class="col-12 col-md-9">
                <div class="row item-card">
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 my-2">
                        <div class="card border-0 shadow-sm" title="Tipis-tipis abangku, menyala, tetap ilmu padi king">
                            <img src="../style/asset/image/test.png" class="object-fit-cover img-fluid" style="aspect-ratio:1/1;" alt="">
                            <div class="card-body p-2">
                                <h5 class="card-title text-dark text-truncate m-0"><b>Tipis-tipis abangku, menyala, tetap ilmu padi king</b></h5>
                                <h6><span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span> <span class="badge text-bg-secondary">tag</span></h6>
                                <p class="card-subtitle mb-2 h6"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span> (10)</p>
                                <h6 class="my-1">Rp1.000.000,00</h6>
                                <h6>
                                    <a href="" class="text-decoration-none text-dark mb-3">
                                        <img src="../style/asset/image/test.jfif" class="rounded-circle" style="aspect-ratio:1/1;height:15px;" alt="">
                                        Toko
                                    </a>
                                </h6>
                                <h6 class="pt-2 text-smaller border-top">Terjual 10+</h6>
                            </div>
                            <a href="/customer/product" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include("../partials/footer") %>

    <%- include("../partials/_js.ejs") %>
</body>
</html>